*~
#.*
.#.*
*.o
*.lo
*.Plo
*.in
src/.deps
config.log
config.sh
config.status
config.h
autom4te.cache
compile
configure
depcomp
aclocal.m4 
install-sh
missing
*Makefile
*~#
stamp-h1
src/blas-benchmark
blas-benchmark-*.tar.gz
